configure
autom4te.cache
config.h.in
config.h
aclocal.m4
Makefile.in
Makefile
config.log
config.status
.deps
.libs
*.la
*.lo
*.o
libtool
managelogs.spec
managelogs.dsc
debian.changelog
debian.control
stamp-h1
src/managelogs
*.tar.gz
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
check/genlog
check/check.log
check/check.dbg
check/rcmd.sh
doc/api
doc/api.pdf
